<div class="header sticky-top row">
    <div class="col-md-4 col-sm-3">
        <img class="center-block" src="https://tuyendung.vnpt.vn/Styles/ver2/images/logo.png" w />
    </div>
    <div class="nav navbar-nav col-md-4 " style="line-height:60px;">
        <ul class="nav navbar-nav center-block">
            <li><a class="a-lienHe" style="color:#fff;background:none;padding:10px">Liên hệ</a></li>
            <li><a class="a-lienHe" style="color:#fff;background:none;padding:10px">Liên hệ</a></li>
            <li><a class="a-lienHe" style="color:#fff;background:none;padding:10px">Liên hệ</a></li>
            <li><a class="a-lienHe" style="color:#fff;background:none;padding:10px">Liên hệ</a></li>
        </ul>
    </div>
    <div class="col-md-4 col-sm-9" style="font-size:16px">
        <a class="col-md-4 text-center btn-register" data-toggle="collapse" data-target=".register">Đăng kí</a>
        <div class="col-md-1"></div>
        <a data-toggle="collapse" data-target=".login" class=" col-md-5 text-center btn-signIn" style="width:100px" title="Đăng nhập" id="btn-Login">Đăng nhập</a>
    </div>
</div>