
        <div class="cards">
            <div class="header-container">Việc làm theo đơn vị</div>
            <label class="card-header">Tổng công ty/Công ty</label>
            <div class="card-content">VNPT-IT</div>
            <div class="card-content">VNPT-NET</div>
            <div class="card-content">VNPT-MEDIA</div>
            <div class="card-content">VNPT-Vinaphone</div>

            <label class="card-header">Khu vực tỉnh/thành phố</label>
            <div class="card-content">ha noi</div>
            <div class="card-content">ha noi</div>
            <div class="card-content">ha noi</div>
            <div class="select">Chọn Tỉnh/Thành Phố</div>
        </div>
        <img src="~/Style/img/2.png" class="rounded" style="border-radius:5px;width:100%,">
