
@{
    Layout = null;
}
<footer>
    <div style="width:100%;position:relative">
        <div class="footer-end position-relative"  style="display:flex; margin-top:80px;padding-top:50px;background-color:#00408B;color:#fff">
            <img src="~/Style/img/Screenshot (129).png" />
            <div class="col-md-2">
                <label>Lien he</label>
                <div>0243 232 1394</div>
                <div>tuyendung@vnpt.vn</div>
            </div>
            <div class="col-md-4">
                <label>Tru so chinh</label>
                <div>57 Huỳnh Thúc Kháng, Đống Đa, Hà Nội</div>
                <div>https://tuyendung.vnpt.vn/</div>
            </div>
        </div>
        <div class="bg-info position-absolute h5" style="left: 100px;right: 100px;top: -35px;border-radius: 10px;line-height: 70px;color: #fff;background-color: #00C2FF">
            <div class="row align-content-center w-100">
                <div class="text-right col-md-3 col-sm-12">
                    <img src="https://tuyendung.vnpt.vn/Styles/ver2/images/icon-facebook2.png" />
                    <label>tuyendungvnpt</label>
                </div>
                <div class="text-right col-md-3 col-sm-12">
                    <img src="https://tuyendung.vnpt.vn/Styles/ver2/images/icon-linkedin2.png" />
                    <label>Tuyển dụng VNPT</label>
                </div>
                <div class="text-right col-md-6 col-sm-12">
                    <img src="https://tuyendung.vnpt.vn/Styles/ver2/images/icon-phone-support.png" />
                    <label>Hotline: 0917028678, 0917098678, 0911728678</label>
                </div>
            </div>
        </div>
    </div>
</footer>
