

    <form action="" class="" id="form-register" style="padding:50px;">
        <label class="h2 text-center text-bold" style="width:100%;height:60px">Đăng ký</label>
        <div class="row" style="padding-bottom:20px">
            <div class="col-md-4">
                <label>Họ và tên</label>
                <input class="form-control" required/>
            </div>
            <div class="col-md-4">
                <label>Ngày sinh</label>
                <input class="form-control" type="date" required/>
            </div>
            <div class="col-md-4">
                <label>Giới tính Nữ</label><br />
                <input type="checkbox" required height="20"/>
            </div>
        </div>
        <div class="row" style="padding-bottom:20px">
            <div class="col-md-4">
                <label>Email </label>
                <input class="form-control" type="email" required />
            </div>
            <div class="col-md-4">
                <label>Mật khẩu</label>
                <input class="form-control" type="password" required />
            </div>
            <div class="col-md-4">
                <label>Nhập lại mật khẩu</label>
                <input class="form-control" type="password" required/>
            </div>
        </div>
        <div class="row center-block" style="padding-bottom:20px;width:100%">
            <div class="col-md-4"></div>
            <div class="col-md-4"><button class="d-block h4 btn-warning" style="width:100%;padding:10px;color:white;border-radius:5px;">Đăng kí</button></div>
            <div class="col-md-4"></div>
        </div>
        <div class="row text-center" style="padding-bottom:20px;width:100%">
            Đã có tài khoản? <a href="/LoginAndRegister">Đăng nhập</a>
        </div>
    </form>
