
@{
    ViewBag.Title = "ViewTest";
    Layout = "~/Areas/Admin/Views/Shared/Layout1.cshtml";
    var listData = ViewData["ContentTest"] as Tuple<List<TAMS.Entity.EQuestion>, List<TAMS.Entity.Models.UserResult>>;
}
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Categories Test</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Categories Test</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <div>

        </div>
        <section class="content">
            <div class="container-fluid row">
                <div class="p-3 h5 bg-white border-secondary  col-md-9" style="border-radius: 5px;border:1px solid #000">
                   @if (listData != null)
                   {
                       var numAs = 0;
                       for (var i = 1; i <= listData.Item1.Count; i++)
                       {
                    <div class="" style="">
                        <label class="  text-primary">Câu @i: @listData.Item1[i - 1].Text</label><br />
                        @for (; numAs < listData.Item2.Count; numAs++)
                        {
                            if (listData.Item2[numAs].IdQuestion != listData.Item1[i - 1].Id)
                            {
                                break;
                            }
                            else
                            {
                                if (listData.Item1[i - 1].CategoryAnswer.ToUpper() == "text".ToUpper())
                                {
                                    if (listData.Item2[numAs].isTrue)
                                    {
                                        <label class="text-green">T</label>
                                    }
                                    else
                                    {
                                        <label class="text-red">F</label>
                                    }
                                    <input type="text" value="@listData.Item2[numAs].TextAnswer" readonly />
                                }
                                else
                                {
                                    if (listData.Item2[numAs].isTrue)
                                    {
                                        <label class="text-green">T</label>
                                    }
                                    else
                                    {
                                        <label class="text-red">F</label>
                                    }
                                    if (listData.Item2[numAs].result == true)
                                    {
                                        <input type="checkbox" checked readonly/>
                                    }
                                    else
                                    {
                                        <input type="checkbox" readonly />
                                    }

                                    <label>@listData.Item2[numAs].TextAnswer</label>
                                    <br/>
                                }
                            }
                        }
                        <br/>
                    </div>
                        }
                    }
                </div>
                <div class="col-md-3 row justify-content-center">
                    <div>
                        <button class="btn btn-primary ">Done</button>
                    </div>
                </div>
            </div>
        </section>
    
